.mainCarouseldiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
    margin: 3% 10% 0 10%;
    background-color:  #0a0b5f;
    border-radius: 20px;
    box-shadow: 20px 22px 50px 14px rgba(191,191,191,0.75);
-webkit-box-shadow: 20px 22px 50px 14px rgba(191,191,191,0.75);
-moz-box-shadow: 20px 22px 50px 14px rgba(191,191,191,0.75);
}
.carouselText{
    margin-top: 4%;
    color: #a00015;
    font-size: 20px;
    text-align: center;
}
.mainCarousel{
    width: 80%;
}
.mainCarouselImg{
    height: 70%;
    width: 70%;
    border-radius: 15px;
    margin: 10% 0 10% 0;
}
.clickableCarouselImg{
    margin-left: 15%;
}

/* **********RESPONSIVE******************** */

@media screen and (max-width: 1050px){
    .carouselText{
        font-size: 16px;
    }
}

@media screen and (max-width: 850px){
    .carouselText{
        font-size: 14px;
    }
    .mainCarouseldiv{
        border-radius: 18px;
    }
    .mainCarouselImg{
        border-radius: 13px;
    }
}
 @media screen and (max-width: 750px){
    .carouselText{
        font-size: 12px;
    }
    .mainCarouseldiv{
        border-radius: 16px;
    }
    .mainCarouselImg{
        border-radius: 11px;
    }
}
@media screen and (max-width: 650px){
    .carouselText{
        font-size: 10px;
    }
    .mainCarouseldiv{
        border-radius: 14px;
    }
    .mainCarouselImg{
        border-radius: 10px;
    }
}
@media screen and (max-width: 550px){
    .carouselText{
        font-size: 8px;
    }
    .mainCarouseldiv{
        border-radius: 12px;
    }
    .mainCarouselImg{
        border-radius: 8px;
    }
}
@media screen and (max-width: 450px){
    .carouselText{
        font-size: 6px;
    }
    .mainCarouseldiv{
        border-radius: 10px;
    }
    .mainCarouselImg{
        border-radius: 6px;
    }
}
@media screen and (max-width: 400px){
    .mainCarouseldiv{
        border-radius: 8px;
    }
    .mainCarouselImg{
        border-radius: 6px;
    }
}